doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Hi #{name}!
    link(rel="stylesheet", href="/form.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/loader.min.js")
    link(rel="stylesheet", data-name="vs/editor/editor.main", href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/editor/editor.main.min.css")
  body
    .main
      h1 Welcome, #{name}!
      hr
      p This page was rendered with SSR using Pug